[submodule "image.vim"]
  path = bundle/image.vim
[submodule "nerdtree"]
  path = bundle/nerdtree
[submodule "vim-afterimage"]
  path = bundle/vim-afterimage
[submodule "vim-airline"]
  path = bundle/vim-airline
[submodule "vim-better-whitespace"]
  path = bundle/vim-better-whitespace
[submodule "vim-indent-guides"]
  path = bundle/vim-indent-guides
[submodule "vim-windowswap"]
  path = bundle/vim-windowswap
